@page "/user-info"
@using BlazorTestApp.Frontend.Domain
@using BlazorTestApp.Frontend.Services
@inject IUserInfoService _userInfoService

<AuthorizeView>
    <h1>User info</h1>

    @if (UserInfoDisplayData == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-3">Login</dt>
            <dd class="col-sm-9">@UserInfoDisplayData.Login</dd>

            <dt class="col-sm-3">Id</dt>
            <dd class="col-sm-9">@UserInfoDisplayData.Identifier</dd>

            <dt class="col-sm-3">First name</dt>
            <dd class="col-sm-9">@UserInfoDisplayData.FirstName</dd>

            <dt class="col-sm-3">Last name</dt>
            <dd class="col-sm-9">@UserInfoDisplayData.LastName</dd>

            <dt class="col-sm-3">Roles</dt>
            <dd class="col-sm-9">
                @foreach (string role in UserInfoDisplayData.Roles)
                {
                    <p>@role</p>
                }
            </dd>

            <dt class="col-sm-3">Groups</dt>
            <dd class="col-sm-9">
                @foreach (string group in UserInfoDisplayData.Groups)
                {
                    <p>@group</p>
                }
            </dd>

            <dt class="col-sm-3">Tokens</dt>
            <dd class="col-sm-9">
                @foreach (TokenDisplayData token in UserInfoDisplayData.Tokens)
                {
                    <TokenDisplay TokenDisplayData="token"/>
                }
            </dd>
        </dl>
    }

</AuthorizeView>

@code {
    private UserInfoDisplayData UserInfoDisplayData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        UserInfoDisplayData = await _userInfoService.GetUserInfoDisplayData();
    }
    
}