@using BlazorTestApp.Frontend.Configuration.Authentication
@using BlazorTestApp.Shared.Authorization
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTestApp.Frontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <AuthorizeView Context="ctx" Policy="@Policies.Player.PolicyName">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Player">
                        <span class="oi oi-play-circle" aria-hidden="true"></span> Play
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Context="ctx" Policy="@Policies.Host.PolicyName">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Host">
                        <span class="oi oi-spreadsheet" aria-hidden="true"></span> Host
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView Context="ctx" Policy="@Policies.Editor.PolicyName">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Editor">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                    </NavLink>
                </li>
            </AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="user-info">
                    <span class="oi oi-person" aria-hidden="true"></span> UserInfo
                </NavLink>
            </li>
            <AuthorizeView Context="ctx" Policy="@Policies.Weather.PolicyName">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
            </AuthorizeView>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}